/* Main Color Scheme */
/* primary color: #F26722 */
/* lighter tint: #f9c2a6 */
/* lighter tint: rgb(249,194,166) */
/* darker shade: #C1521B */
/* primary text color:  #505962*/

/*-- iPhone X Remove Gutters --*/
html {
    padding: env(safe-area-inset);
}
html, body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}
.text-northstar {
    color: #F26722;
}
.opacity-layer-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
/*--- Nav Scrolling Offset --*/
.offset:before {
    content: "";
    height: 64px; /* this is the width of the navbar, we want to offset each section by that width */
    /* need display: block to see the height */
    display: block;
    margin-top: -64px;
}

/*--- Extra Bootstrap Column Padding --*/

/* we need to select all column classes */
[class*="col-"] {
    padding: 1rem;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
    height: 2rem;
}
.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: .9rem;
    transition: background-color .5s ease;
    /* background-color: #F26722; */
}
.navbar-nav li {
    padding-right: .8rem;
}
.navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    /* color: 	#f8b390; */
    /* color: 	#a94817; */
    /* color: 	#c1521b; */
    color: 	#f9c2a6;
}
.custom-toggler-icon {
    color: white;
    font-size: 1.6rem;
}
.navbar.solid,
.navbar.solid-toggle{
    /* background: rgba(0, 0, 0, .7)!important; */
    background: rgba(242, 103, 34, .8)!important;
    transition: background-color 2s ease;
}
/*--- Drop-down Menu --*/
.dropdown-menu, .dropdown-item {
    font-size: .9rem;
    font-weight: 700!important;
    background-color: transparent!important;
    border: 0;
    color: white;
}
.dropdown-menu.show {
    margin-top: .75rem!important;
    border-radius: 0;
    transition: background-color .5s ease 0s;
}
.dropdown-submenu {
    transition: background-color .5s ease 0s;
}
.dropdown-menu.no-space-top {
    margin-top: 0!important;
}
.dropdown-menu:hover, .dropdown-item:hover,
.dropdown-menu:focus, .dropdown-item:focus,
.dropdown-toggle:active, .dropdown-toggle:focus {
    color: #f9c2a6!important;
}
.dropdown-submenu.solid,
.dropdown-menu.show.solid {
    background: rgba(0, 0, 0, 0.7)!important;
    transition: background-color 1s ease 0s;
}
.dropdown-submenu > .dropdown-menu {
    width: 100%;
    margin-top: 0!important;
}

/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    transition: all .6s ease;
}
button, a, a.btn,
.svg-inline--fa {
    transition: all .6s ease;
}

/*============= VIDEO LANDING PAGE =============*/

/*--- Fixed Video Background--*/
.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.7); /* Black Opacity On Video */
}
.video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

/*-- Landing Page Caption --*/
.caption {
    /* this puts it on top on the landing element */
    z-index: 1;
    /* this will keep its position fixed. We determine its position using 'top: 20%' below */
    position: absolute;
    /* this puts it 20% from the top of the element to the top of the page. Combined with position: absolut it keeps it there */
    top: 38%;
    /* without a width, the 'text-center class on the element won't actually do anything */
    width: 100%;
    /* below should keep the text from overflowing on mobile */
    max-width: 100%;
}
.caption h1 {
    font-size: 4.5rem;
    letter-spacing: .3rem;
    /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3 {
    font-size: 2.5rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
}
.caption .btn-lg {
    border-width: medium;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
}

/*-- Bouncing Down Arrow --*/
.arrow {
    /* this puts it on the same level as the landing element */
    /* z-index: 1; */
    /* this will keep its position fixed. We determine its position using 'bottom: 0' below */
    position: absolute;
    /* this puts it at the bottom of the page. Combined with position: absolute it keeps it there */
    bottom: 0;
    /* without a width, the 'text-center class on the element won't actually do anything */
    width: 100%;
    /* font-size: 4rem;
    color: rgba(0, 0, 0, 0.6); */
}
/* this is font awesome's class for the icon that we pulled directly from the inspect tool in Chrome */
.down-arrow .fa-angle-down {
    /* color: white; */
    color: #F26722;
    font-size: 2.2rem;
    opacity: 0.6;
    animation: bounce 2s infinite;
    /* for browser compatibility*/
    -webkit-animation: bounce 2s infinite;
}
.down-arrow .fa-angle-down:hover {
    opacity: 1;
}

/*======================================================== PHILOSOPHY SECTION ================================================================*/

.carousel-item {
    height: 100vh; /*--- Change Height of Image Slider --*/
    min-height: 18.75rem; /*--- (300px for mobile) --*/
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #1A1A1A; /*--- For Firefox white between slides --*/
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease,-webkit-transform 1.2s ease;
}
/*-- Landing Page Caption --*/
.philosophy-caption {
    /* this puts it on top on the landing element */
    z-index: 1;
    /* this will keep its position fixed. We determine its position using 'top: 20%' below */
    position: absolute;
    /* this puts it 20% from the top of the element to the top of the page. Combined with position: absolut it keeps it there */
    top: 25%;
    /* without a width, the 'text-center class on the element won't actually do anything */
    width: 100%;
    /* below should keep the text from overflowing on mobile */
    max-width: 100%;
    /* color: white; */
}
.philosophy-caption h3 {
    font-size: 2.5rem;
    /* text-shadow: .05rem .05 .2rem #f9c2a6; */
    /* text-shadow: 1px 1px 2px #f9c2a6; */
    /* text-shadow: 2px 2px 4px #f9c2a6; */
    /* text-shadow: 2px 2px 4px #F26722; */
    /* text-shadow: 1px 1px 4px #F26722; */
    padding-bottom: 2rem;
    color: #F26722;
    /* color: #f9c2a6; */
}
.philosophy-caption p {
    font-size: 2rem;
    color: white;
}

/*========================================================== SIGNATURE DISHES SECTION ==========================================================*/
h3.heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9rem;
    margin-bottom: 1.9rem;
}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #F26722;
    margin: 0 auto 2rem; /* 0 for top & bottom, auto for left & right, 2rem for bottom */
}

.portfolio-item img:hover {
    /* this enlarges the images when we hover over them. */
    /* IMPORTANT: the 'overflow-hidden' in <div class="portfolio-item overflow-hidden"> keeps the image from overflowing into surrounding
    columns when we hover over it and change its scale by 30% */
    transform: scale(1.1);
    /* non-default cursor */
    cursor: zoom-in;
    /* IMPORTANT: transition: transform .4s ease will work here, but only on the hover over, not when the cursor leaves the image. See below for handling both 
    situations that looks much nicer. */
}
.portfolio-item img {
    /* IMPORTANT: this makes the hover transition smooth both when the cursor hovers over the img, but also when the cursor leaves the img */
    transition: transform .4s ease;
}
/*=== END SIGNATURE DISHES SECTION ===*/


/*========================================================== START LOCATIONS SECTION ==========================================================*/
#locationHeading {
    /* color: white; */
    color: #F26722;
    margin-bottom: .7rem;
}
#locations .sub-heading {
    color: white;
    /* color: #f9c2a6; */
}
.card-body h4 {
    /* color: #C1521B; */
    color: #505962;

}
.hours {
    margin: .3rem auto;
    font-size: 1rem;
    /* color: #C1521B; */
    color: #505962;
    font-weight: 700;
}

/* primary color: #F26722 */
/* lighter tint: #f9c2a6 */
/* lighter tint: rgb(249,194,166) */
/* darker shade: #C1521B */
/* primary text color:  #505962*/

/*--- iOS Fixed Background Image --*/
.fixed {
    position: relative;
    width: 100%;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    /* to make sure this fills all corners on all devices */
    top: 0;
    left: 0;
    z-index: -9999;
}

/*--- Team Light Background Image --*/
.fixed-light {
    background-image: url('../img/locations/locationBackground.jpg');
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    /* iOS specific styling */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1;
    top: 0;
    left: 0;
    display: table;
}
.light {
    /* background-color: rgba(255, 255, 255, 0.75); */
    /* background-color: rgba(249, 194, 166, 0.75); */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5rem 0;
    z-index: 1000;
}

/* Main Color Scheme */
/* primary color: #F26722 */
/* lighter tent: #f9c2a6 */
/* darker shade: #C1521B */
/* primary text color:  #505962*/


/* 'owl-stage' is a class that gets added by owl carousel and is only visible with the inspect tool */
.owl-stage {
    display: flex;
}
.card {
    height: 100%;
    border-radius: 0;
    text-align: center;
    margin: 0 1rem;
    border: .1rem solid rgba(0, 0, 0, .075);
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    transition: transform .4s ease;
}
.card:hover {
    transform: scale(0.95);    
}
/* 'owl-dot' is a class that gets added by owl carousel and is only visible with the inspect tool */
/* knowing that we need to target the <span></span> was accomplished using the inspect tool */
button.owl-dot.active span,  button.owl-dot:hover span {
    background: #F26722!important;
}
ul.social {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
ul.social li {
    display: inline;
    padding-right: 0.8rem;
}
ul.social li a {
    color:#F26722;
    transition: all 0.3s ease;
}
ul.social li a:hover {
    color: #505962;
}
.btn-menu {
    background-color: white;
    color: #F26722!important;
    border-width: medium;
    border-radius: 0;
    padding: .3rem .4rem;
    /* text-transform: uppercase; */
    font-size: .8rem;
    margin: .5rem .2rem;
    border: .7px solid #F26722;
}
.btn-menu:hover {
    background-color: #f9c2a6!important;
    color: white!important;
}

.fa-book-open:hover {
    color: white;
}
.fa-book-open {
    /* without this, the menu icon noticeably lags behind the rest of the text changing color */
    transition: transform .6s ease;
}



/*========================================================== Reviews SECTION =======================================================================*/
#reviews-carousel {
    max-width: 1200px;
    margin: 0 auto;
}
.reviews img {
    border-radius: 50%;
    transition: transform .3s ease;
}
.reviews img:hover {
    transform: scale(.95)
}
blockquote .svg-inline--fa {
    /* margin: 1rem; */
    color: #F26722;
}
.reviews-hr {
    border-top: .1rem solid #F26722;
}
.svg-inline--fa fa-quote-left {
    margin: 0px 0px;
}

.btn-northstarOrange {
    background-color: #F26722!important;
    color: white;
    /* margin-right: 1rem; */
}
.btn-northstarOrange:hover {
    background-color: #C1521B!important;
    /* background-color: #d95c1e!important; */
    /* background-color: #F26722!important; */
    /* background-color: red!important; */
    color: white;
}
.btn-northstarWhite {
    background-color: white;
    color: #F26722!important;
    border: 1px solid #F26722;
}
.btn-northstarWhite:hover {
    /* background-color: #C1521B!important; */
    /* background-color: #d95c1e!important; */
    /* background-color: #F26722!important; */
    background-color: #f9c2a6!important;
    color: white!important;

}
.btn-sm {
    border-width: medium;
    border-radius: 0;
    padding: .5rem 1.1rem;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 1rem;
}
/*====== END Reviews SECTION =====*/

/*==================================================== START Our Numbers SECTION ===================================================================*/
/* #ourNumbers {
    color: white;
} */
.jumbotron {
    background-color: #F26722;
}
.heading-underline-white {
    width: 3rem;
    height: .2rem;
    background-color: white;
    margin: 0 auto 2rem; /* 0 for top & bottom, auto for left & right, 2rem for bottom */
}
.white-icon {
    color: white;
}
.orange-icon {
    color: #F26722;
}
.feature span {
    color: #189582;
    margin-bottom: 0.6rem;
}
.feature h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}
/* ===== End Our Numbers Section */

/*==================================================== START Contact Us SECTION ===================================================================*/

/* below, no space between 'row' and 'outer' b/c they are in the same element */
.row.outer {
    background-color: white;
    /* top, sides, bottom */
    padding: 1rem 2rem 3rem;
}
.footer img {
    height: 2rem;
    /* top&bottom, left&right */
    margin: 1.5rem 0;
}
.footer ul.social {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.footer ul.social li {
    display: inline;
    padding-right: 0.8rem;
}
.footer a, 
.footer ul.social li a {
    /* below we explicitly make the links white b/c on cell phones they might appear as blue w/ underlines otherwise */
    /* color: white; */
    color: #F26722;
    transition: all 0.3s ease;
}
.footer ul.social li a:hover {
    /* below we explicitly make the links white b/c on cell phones they might appear as blue w/ underlines otherwise */
    /* color: #1EBBA3; */
    color: #C1521B;
    /* color: #f9c2a6; */
}
.footer h3 {
    text-transform: uppercase;
    margin: 1.5rem 0;
}

/* Contact Form */
.form-group {
    margin-bottom: 1.3rem;
}
.form-control {
    /* background-color: #53595F; */
    /* background-color: #f9c2a6; */
    /* background-color: #F26722; */
    background-color: white;
    border-radius: 0;
    border: .15rem solid #F26722;
    /* color: white!important; */
    color: #505962!important;
    font-size: 1.1rem;
    font-weight: 700;
}
.form-control:focus {
    background-color: #f9c2a6!important;
    border: .15rem solid #C1521B;
}

/* Auto Complete Issues */
.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    /* -webkit-box-shadow: 0 0 0px 1000px #f9c2a6 inset;
    -webkit-text-fill-color: #505962; */
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #505962;
}
/* Placeholder Text */
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #96999c;
    /* color: #8c8e8f; */
    /* color: white; */
}
hr.socket {
    /* border-top: .2rem solid #666B71; */
    border-top: .2rem solid #F26722;
    width: 100%;
}


/*============= TOP SCROLL =============*/
a.top-scroll {
    /* This will put it 1.2rem from the right and bottom of the WINDOW */
    right: 1.2rem;
    bottom: 1.2rem;
    /* This will keep it there as we scroll the page */
    position: fixed;
    opacity: .5;
    /* ensure icon is always visible */
    z-index: 1000;
    /* by default we don't want the icon showing until users scroll down the page */
    display: none;
}
a.top-scroll:hover {
    opacity: .7;
}
.top-scroll .svg-inline--fa {
    /* background: #f9c2a6; */
    background: white;
    /* color: #53595F; */
    color: #C1521B;
    /* this will scale up the whole icon and background */
    font-size: 3rem;
    /* this will make the white background arrow smaller vertically while slightly reducing the arrow size */
    height: 1.7rem;
}

/* primary color: #F26722 */
/* lighter tent: #f9c2a6 */
/* darker shade: #C1521B */
/* primary text color:  #505962*/

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
    .caption h1 {
        font-size: 3.5rem;
        letter-spacing: .2rem;
        padding-bottom: .8rem;
    }
    .caption h3 {
        font-size: 2.2rem;
        padding-bottom: 1.7rem;
    }
    .caption .btn-lg {
        padding: .7rem 1.2rem;
        font-size: 1rem;
    }
    .reviews img {
        max-width: 50%;
        margin: 0 auto;
    }
    .philosophy-caption h3 {
        /* font-size: 2.2rem; */
        font-size: 2.2rem;
    }
    .philosophy-caption p {
        font-size: 1.7rem;
    }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
    .caption h1 {
        font-size: 2.7rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1.7rem;
        padding-bottom: 1.2rem;
    }
    .caption .btn-lg {
        padding: .6rem 1.1rem;
    }
    .philosophy-caption h3 {
        font-size: 1.7rem;
    }
    .philosophy-caption p {
        font-size: 1.4rem;
    }
    /* #features h1 {
        font-size: 2rem;
    }
    .fixed-dark {
        background-image: url('../img/fixed/apple-mobile.jpg');
    }
    .fixed-light {
        background-image: url('../img/fixed/office-mobile.jpg');
    }
    .footer {
        background: url('../img/footer/footer-mobile.jpg') no-repeat;
    } */
    /* .top-scroll {
        display: none!important;
    } */
}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
    .caption h1 {
        font-size: 1.9rem;
        letter-spacing: .1rem;
        padding-bottom: .4rem;
    }
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    .caption .btn-lg {
        padding: .4rem .9rem;
        font-size: .9rem;
    }
    .philosophy-caption {
        top: 5%;
    }
    .philosophy-caption h3 {
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }
    .philosophy-caption p {
        font-size: 1rem;
    }
}