.z1 {
	z-index: 1;
}
.z10 {
	z-index: 10;
}
.z15 {
	z-index: 15;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 400;
	background-color: rgb(24, 24, 24);
}

#mainNavbar .navbar-brand {
	color: black;
	font-size: 1.5rem;
}

/* #mainNavbar .nav-link {
	color: black;
} */
/* below we change the color when we hover over the nav links */
#mainNavbar .nav-link:hover {
	color: white;
	/* background: warning; */
}

.section {
	height: 500px;
}

.dropShadow {
	/* width: 250px; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}
p {
	font-size: 4rem;
	font-weight: 1000;
}

body {
	font-family: "Nunito", sans-serif;
}
